<footer class="footer-2" role="contentinfo">
    <ul>
      <li class="nav-link"><%= link_to 'Home', '/' %></li>
      <li class="nav-link"><%= link_to 'About', '/about' %></li>
      <li class="nav-link"><%= link_to 'Blog', '/blog' %></li>
      <li class="nav-link"><%= link_to 'Source', 'https://github.com/evan-007/evan-site' %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><%= link_to 'Contact', '/contact' %></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/evan123808">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
